<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>User surname</th>
      <th>User adress city</th>
      <th>User adress zip</th>
      <th>User adress street</th>
      <th>User adress number</th>
      <th>User mail</th>
      <th>User tel</th>
      <th>User password</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.user_surname %></td>
        <td><%= user.user_adress_city %></td>
        <td><%= user.user_adress_zip %></td>
        <td><%= user.user_adress_street %></td>
        <td><%= user.user_adress_number %></td>
        <td><%= user.user_mail %></td>
        <td><%= user.user_tel %></td>
        <td><%= user.user_password %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
