<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>User surname:</strong>
  <%= @user.user_surname %>
</p>

<p>
  <strong>User adress city:</strong>
  <%= @user.user_adress_city %>
</p>

<p>
  <strong>User adress zip:</strong>
  <%= @user.user_adress_zip %>
</p>

<p>
  <strong>User adress street:</strong>
  <%= @user.user_adress_street %>
</p>

<p>
  <strong>User adress number:</strong>
  <%= @user.user_adress_number %>
</p>

<p>
  <strong>User mail:</strong>
  <%= @user.user_mail %>
</p>

<p>
  <strong>User tel:</strong>
  <%= @user.user_tel %>
</p>

<p>
  <strong>User password:</strong>
  <%= @user.user_password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
